body {
  background-color: #232323;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
}

h1 {
  text-align: center;
  color: white;
  background-color: steelblue;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1;
  padding: 20px 0;
}

#colorDisplay {
  font-size: 200%;
}

#container {
  margin: 20px auto;
  max-width: 600px;
}

.square {
  width: 30%;
  padding-bottom: 30%;
  background-color: purple;
  float: left;
  margin: 1.66%;
  cursor: pointer;
  border-radius: 15%;
  transition: .6s;
}

#stripe {
  background-color: white;
  height: 30px;
  text-align: center;
  color: black;
}

.selected {
  background-color: steelblue;
  color: white;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  outline: none;
  cursor: pointer;
  transition: all .3s ease;
}

button:hover {
  color: white;
  background-color: steelblue;
}

#message {
  display: inline-block;
  width: 20%;
  color: steelblue;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}