html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #232323;
}

h1 {
  color: white;
}

#container {
  margin: 0 auto;
  max-width: 600px;
}

.square {
  width: 30%;
  padding-bottom: 30%;
  background-color: purple;
  float: left;
  margin: 1.66%;
  cursor: pointer;
}